<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<folder>
	<servername>mhplt.modbus2opc</servername>
	<groupname>OPC</groupname>
	<guid>{C6C83062-6C69-11d4-80FF-00C04F790F3B}</guid>
	<workdir>C:\Program Files (x86)\Waterkotte\modbus</workdir>
	<common>
		<itemname>Common</itemname>
		<tag>
			<name>Debug</name>
			<value>0</value>
			<datatype>VT_I2</datatype>
			<min>0</min>
			<max>4</max>
		</tag>
		<tag>
			<name>ClientWatchdog</name>
			<value>10000</value>
			<datatype>VT_I4</datatype>
			<min>0</min>
			<max>60000</max>
		</tag>
		<tag>
			<name>Language</name>
			<value>DE</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
	</common>
	<com>
		<itemname>Com</itemname>
		<tag>
			<name>portName</name>
			<value>COM1</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>baudRate</name>
			<value>9600</value>
			<datatype>VT_I4</datatype>
			<min>9600</min>
			<max>9600</max>
		</tag>
		<tag>
			<name>dataBits</name>
			<value>8</value>
			<datatype>VT_I2</datatype>
			<min>8</min>
			<max>8</max>
		</tag>
		<tag>
			<name>stopBits</name>
			<value>1</value>
			<datatype>VT_I2</datatype>
			<min>1</min>
			<max>1</max>
		</tag>
		<tag>
			<name>parity</name>
			<value>0</value>
			<datatype>VT_I2</datatype>
			<min>0</min>
			<max>0</max>
		</tag>
		<tag>
			<name>isOpen</name>
			<value>0</value>
			<datatype>VT_I2</datatype>
			<min>0</min>
			<max>0</max>
		</tag>
		<tag>
			<name>OpenCOM</name>
			<value>0</value>
			<datatype>VT_I2</datatype>
			<min>0</min>
			<max>1</max>
		</tag>
		<tag>
			<name>OnlineTime</name>
			<value>00:00:00</value>
			<datatype>VT_BSTR</datatype>
			<dataformat></dataformat>
			<min></min>
			<max></max>
		</tag>
	</com>
	<mbus>
		<itemname>mbusProtocol</itemname>
		<tag>
			<name>errCode</name>
			<value>0</value>
			<datatype>VT_I2</datatype>
			<min>0</min>
			<max>0</max>
		</tag>
		<tag>
			<name>errText</name>
			<value>0</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>Timeout</name>
			<value>2000</value>
			<datatype>VT_I4</datatype>
			<min>1</min>
			<max>100000</max>
		</tag>
		<tag>
			<name>PollDelay</name>
			<value>50</value>
			<datatype>VT_I4</datatype>
			<min>0</min>
			<max>100000</max>
		</tag>
		<tag>
			<name>RetryCnt</name>
			<value>1</value>
			<datatype>VT_I4</datatype>
			<min>0</min>
			<max>10</max>
		</tag>
		<tag>
			<name>TotalCounter</name>
			<value>0</value>
			<datatype>VT_I4</datatype>
			<min>0</min>
			<max>0</max>
		</tag>
		<tag>
			<name>SuccessCounter</name>
			<value>0</value>
			<datatype>VT_I4</datatype>
			<min>0</min>
			<max>0</max>
		</tag>
	</mbus>
	<modem>
		<itemname>Modem</itemname>
		<tag>
			<name>errCode</name>
			<value>0</value>
			<datatype>VT_UI2</datatype>
			<min>0</min>
			<max>0</max>
		</tag>
		<tag>
			<name>errText</name>
			<value>0</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>ModemActive</name>
			<value>1</value>
			<datatype>VT_I1</datatype>
			<min>0</min>
			<max>1</max>
		</tag>
		<tag>
			<name>Phonenumber</name>
			<value>0</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>PBX</name>
			<value>0</value>
			<datatype>VT_I1</datatype>
			<min>0</min>
			<max>1</max>
		</tag>
		<tag>
			<name>OutsidePrefix</name>
			<value>0,</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>ResetAT</name>
			<value>ATZ</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>InitAT</name>
			<value>AT&amp;F E0 X0 L2</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>DialAT</name>
			<value>ATDT</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>HangUpAT</name>
			<value>ATH0</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
	</modem>
	<firmware>
		<itemname>Firmware</itemname>
		<tag>
			<name>Version</name>
			<value></value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>Date</name>
			<value></value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
	</firmware>
	<logging>
		<itemname>Logging</itemname>
		<tag>
			<name>Filename</name>
			<value>C:\Program Files (x86)\Waterkotte\modbus\logging.csv</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>Active</name>
			<value>0</value>
			<datatype>VT_I1</datatype>
			<min>0</min>
			<max>1</max>
		</tag>
		<tag>
			<name>Interval</name>
			<value>1000</value>
			<datatype>VT_I4</datatype>
			<min>1000</min>
			<max>100000</max>
		</tag>
	</logging>
	<export>
		<itemname>Export</itemname>
		<tag>
			<name>Filename</name>
			<value>C:\Program Files (x86)\Waterkotte\modbus\export.csv</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>Active</name>
			<value>0</value>
			<datatype>VT_I1</datatype>
			<min>0</min>
			<max>1</max>
		</tag>
	</export>
	<import>
		<itemname>Import</itemname>
		<tag>
			<name>Filename</name>
			<value>C:\Program Files (x86)\Waterkotte\modbus\import.csv</value>
			<datatype>VT_BSTR</datatype>
			<min></min>
			<max></max>
		</tag>
		<tag>
			<name>Active</name>
			<value>0</value>
			<datatype>VT_I1</datatype>
			<min>0</min>
			<max>1</max>
		</tag>
	</import>
</folder>
