@CHARSET "UTF-8";

span {
    font-size: 12px;
}

div#dateTimeField {
    float: right;
}
div#tabs {
    float: left;
}
div#overview {
    float: left;
    margin: 0 0 0 20;
}

.value {
    float: left;
    width: 60px;
    display: block;
    outline: 1px inset black;
    text-align: right;
}
span#description {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 7px;
}
span#description_short {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 7px;
}
div#diagram div span#description {
    width: 57px;
    height: 10px;
}
div#diagram div span#description_short {
    width: 57px;
    height: 10px;
}

div#diagram img#home.picture {
    position: relative;
    left: 150px;
    top: 0px;
}

div#diagram img#background.picture {
    position: relative;
    left: 0px;
    top: -330px;
}

#description {
    color: black;
}
#description_short {
    color: black;
}
.blackText {
    color: black;
}
.redText {
    color: red;
}
.blueText {
    color: blue;
}
.targetText {
    color: white;
    background-color: rgb(246,81,0);
}

div#diagram  {
    heigth: 1200px;
}
div#diagram div {
    position: relative;
}
div#OutdoorTemp {
    left: 30px;
    top: -85px;
}
div#OutdoorTemp1h {
    left: 30px;
    top: -85px;
}
div#OutdoorTemp24h {
    left: 30px;
    top: -85px;
}
div#RoomTempNominal {
    left: 310px;
    top: -150px;
}
div#RoomTemp {
    left: 310px;
    top: -150px;
}
div#RoomTemp1h {
    left: 310px;
    top: -150px;
}

span#RTCDate.value {
    width: 90px;
}
div#RTCDate {
    left: 480px;
    top: -215px;
}
span#RTCTime.value {
    width: 90px;
}
div#RTCTime {
    left: 480px;
    top: -215px;
}
span#FirmwareVersion.value {
    width: 90px;
}
div#FirmwareVersion {
    left: 480px;
    top: -215px;
}
span#FirmwareDate.value {
    width: 90px;
}
div#FirmwareDate {
    left: 480px;
    top: -215px;
}

div#Pelectric {
    left: 30px;
    top: -200px;
}
div#Pthermal {
    left: 30px;
    top: -220px;
}
div#COP {
    left: 30px;
    top: -240px;
}
#Pelectric.blackText span#description {
    width: 100px;
}
#Pthermal.blackText span#description {
    width: 100px;
}
#COP.blackText span#description {
    width: 100px;
}

div#HeatSourceIn {
    left: 10px;
    top: -500px;
}
div#HeatSourceOut {
    left: 70px;
    top: -400px;
}

div#SunctionGasTemp {
    left: 205px;
    top: -640px;
}
div#OHCompressor1 {
    left: 280px;
    top: -674px;
}

div#EvaporationTemp {
    left: 105px;
    top: -826px;
}
div#EvaporationPress {
    left: 105px;
    top: -826px;
}

div#CondensationTemp {
    left: 355px;
    top: -630px;
}
div#CondensationPress {
    left: 355px;
    top: -630px;
}

div#FlowTemp {
    left: 475px;
    top: -1000px;
}
div#HeatReturnTemp2 {
    left: 475px;
    top: -945px;
}

div#iconPumpHeatSource {
    left: 25px;
    top: -490px;
}

div#iconCompressor1 {
    left: 300px;
    top: -676px;
}

div#iconPumpHeating {
    left: 415px;
    top: -796px;
}
div#iconMagnetValve {
    left: 175px;
    top: -661px;
}

div#overview div {
    position: relative;
}
/* overview div with icons */
div#iconCooling {
    left: 0px;
    top: 0px;
}
div#CoolReturnTempNominal {
    left: 40px;
    top: -53px;
}
div#CoolReturnTemp {
    left: 40px;
    top: -53px;
}

div#iconHeating {
    left: 0px;
    top: -40px;
}
div#HeatReturnTempNominal {
    left: 40px;
    top: -92px;
}
div#HeatReturnTemp {
    left: 40px;
    top: -92px;
}

div#iconDomesticWater {
    left: 0px;
    top: -80px;
}
div#DomesticWaterTempNominal {
    left: 40px;
    top: -133px;
}
div#DomesticWaterTempActual {
    left: 40px;
    top: -133px;
}

div#iconPool {
    left: 0px;
    top: -120px;
}
div#PoolTempNominal {
    left: 40px;
    top: -173px;
}
div#PoolTempActual {
    left: 40px;
    top: -173px;
}

div#iconSolar {
    left: 0px;
    top: -160px;
}
div#SolarTempNominalMin {
    left: 40px;
    top: -213px;
}
div#SolarTempActual {
    left: 40px;
    top: -213px;
}

div#icon3way {
    left: 0px;
    top: -200px;
}
div#HeatingCircuitNominal {
    left: 40px;
    top: -253px;
}
div#HeatingCircuitTemp {
    left: 40px;
    top: -253px;
}

input#dateTimePicker.hasDatepicker {
    width: 110px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 50%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* Heating */
div#heating div span#description {
    width: 200px;
    height: 10px;
}

div#heating {
    position: static;
    float: left;
}

/* Cooling */
div#cooling div span#description {
    width: 200px;
    height: 10px;
}

div#cooling {
    position: static;
    float: left;
}

/* Hot water */
div#hotwater div span#description {
    width: 200px;
    height: 10px;
}

div#hotwater {
    position: static;
    float: left;
}

/** css for vertical tabs */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

