@CHARSET "UTF-8";

span {
    font-size: smaller;
}

.value {
    float: left;
    width: 60px;
    display: block;
    outline: 1px inset black;
    text-align: right;
}
span#description {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 7px;
}
span#description_short {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 7px;
}
div#diagram div {
    position: absolute;
}
div#diagram div span#description {
    width: 57px;
    height: 10px;
}
div#diagram div span#description_short {
    width: 57px;
    height: 10px;
}

div#diagramm {
    float: left;
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0 0 35;
}

div#diagram img#home.picture {
    position: absolute;
    left: 150px;
    top: 0px;
}

div#diagram img#background.picture {
    position: absolute;
    left: 0px;
    top: 100px;
}

#description {
    color: black;
}
#description_short {
    color: black;
}
.blackText {
    color: black;
}
.redText {
    color: red;
}
.blueText {
    color: blue;
}
.targetText {
    color: white;
    background-color: rgb(246,81,0);
}

#OutdoorTemp {
    left: 30px;
    top: 20px;
}
#OutdoorTemp1h {
    left: 30px;
    top: 40px;
}
#OutdoorTemp24h {
    left: 30px;
    top: 60px;
}

#RoomTempNominal {
    left: 300px;
    top: 15px;
}
#RoomTemp {
    left: 300px;
    top: 35px;
}
#RoomTemp1h {
    left: 300px;
    top: 65px;
}

#RTCDate {
    left: 450px;
    top: 15px;
}
#RTCTime {
    left: 450px;
    top: 35px;
}
#FirmwareVersion {
    left: 450px;
    top: 55px;
}
#FirmwareDate {
    left: 450px;
    top: 75px;
}

#Pelectric {
    left: 30px;
    top: 130px;
}
#Pthermal {
    left: 30px;
    top: 150px;
}
#COP {
    left: 30px;
    top: 170px;
}
#Pelectric.blackText span#description {
    width: 100px;
}
#Pthermal.blackText span#description {
    width: 100px;
}
#COP.blackText span#description {
    width: 100px;
}

#HeatSourceIn {
    left: 10px;
    top: 280px;
}
#HeatSourceOut {
    left: 70px;
    top: 397px;
}

#SunctionGasTemp {
    left: 205px;
    top: 280px;
}
#OHCompressor1 {
    left: 280px;
    top: 270px;
}

#EvaporationTemp {
    left: 105px;
    top: 250px;
}
#EvaporationPress {
    left: 105px;
    top: 270px;
}

#CondensationTemp {
    left: 355px;
    top: 250px;
}
#CondensationPress {
    left: 355px;
    top: 270px;
}

#FlowTemp {
    left: 475px;
    top: 115px;
}
#HeatReturnTemp2 {
    left: 475px;
    top: 198px;
}

#iconPumpHeatSource {
    left: 25px;
    top: 330px;
}

#iconCompressor1 {
    left: 300px;
    top: 290px;
}

#iconPumpHeating {
    left: 415px;
    top: 366px;
}
#iconMagnetValve {
    left: 175px;
    top: 358px;
}

#iconCooling {
    left: 600px;
    top: 100px;
}
#CoolReturnTempNominal {
    left: 640px;
    top: 97px;
}
#CoolReturnTemp {
    left: 640px;
    top: 117px;
}

#iconHeating {
    left: 600px;
    top: 150px;
}
#HeatReturnTempNominal {
    left: 640px;
    top: 147px;
}
#HeatReturnTemp {
    left: 640px;
    top: 167px;
}

#iconDomesticWater {
    left: 600px;
    top: 200px;
}
#DomesticWaterTempNominal {
    left: 640px;
    top: 197px;
}
#DomesticWaterTempActual {
    left: 640px;
    top: 217px;
}

#iconPool {
    left: 600px;
    top: 250px;
}
#PoolTempNominal {
    left: 640px;
    top: 247px;
}
#PoolTempActual {
    left: 640px;
    top: 267px;
}

#iconSolar {
    left: 600px;
    top: 300px;
}
#SolarTempNominalMin {
    left: 640px;
    top: 297px;
}
#SolarTempActual {
    left: 640px;
    top: 317px;
}

#icon3way {
    left: 600px;
    top: 350px;
}
#HeatingCircuitNominal {
    left: 640px;
    top: 347px;
}
#HeatingCircuitTemp {
    left: 640px;
    top: 367px;
}
#dateTimeField {
    left: 600px;
    top: 20px;
}
input#dateTimePicker.hasDatepicker {
    width: 110px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 50%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

div#heating div span#description {
    width: 200px;
    height: 10px;
}

div#heating div {
    position: absolute;
}

div#heating div#HeatOff {
    left: 20px;
    top: 10px;
}
div#heating div#HeatTimeOn {
    left: 20px;
    top: 30px;
}
div#heating div#HeatTimeOff {
    left: 20px;
    top: 50px;
}
div#heating div#HeatCharacteristicSetPoint {
    left: 20px;
    top: 70px;
}
div#heating div#HeatCharacteristicSetPointBaseTemp {
    left: 20px;
    top: 90px;
}
div#heating div#HeatCharacteristicGradient {
    left: 20px;
    top: 110px;
}
div#heating div#HeatCharacteristicLimit {
    left: 20px;
    top: 130px;
}
div#heating div#HeatReturnTemp {
    left: 20px;
    top: 150px;
}
div#heating div#HeatReturnTempNominal {
    left: 20px;
    top: 170px;
}
div#heating div#HeatTempHyst {
    left: 20px;
    top: 190px;
}
div#heating div#RoomTempNominal {
    left: 20px;
    top: 210px;
}
div#heating div#RoomTempFactor {
    left: 20px;
    top: 230px;
}
div#heating div#HeatIncreaseOff {
    left: 20px;
    top: 250px;
}
div#heating div#HeatIncreaseTimeOn {
    left: 20px;
    top: 270px;
}
div#heating div#HeatIncreaseTimeOff {
    left: 20px;
    top: 290px;
}
div#heating div#HeatIncreaseSetPtOffset {
    left: 20px;
    top: 310px;
	}
div#heating div#AuxilaryModeHeating {
    left: 20px;
    top: 330px;
}
div#heating div#AuxilaryMaxDifference {
    left: 20px;
    top: 350px;
}

div#cooling div span#description {
    width: 200px;
    height: 10px;
}

div#cooling div {
    position: absolute;
}

div#cooling div#CoolOff {
    left: 20px;
    top: 10px;
}
div#cooling div#CoolTimeOn {
    left: 20px;
    top: 30px;
}
div#cooling div#CoolTimeOff {
    left: 20px;
    top: 50px;
}
div#cooling div#CoolCharacteristicSetPoint {
    left: 20px;
    top: 70px;
}
div#cooling div#CoolReturnTemp {
    left: 20px;
    top: 90px;
}
div#cooling div#CoolReturnTempNominal {
    left: 20px;
    top: 110px;
}
div#cooling div#CoolReturnTempHyst {
    left: 20px;
    top: 130px;
}

div#hotwater div span#description {
    width: 200px;
    height: 10px;
}

div#hotwater div {
    position: absolute;
}

div#hotwater div#DomesticWaterOff {
    left: 20px;
    top: 10px;
}
div#hotwater div#DomesticWaterTimeOn {
    left: 20px;
    top: 30px;
}
div#hotwater div#DomesticWaterTimeOff {
    left: 20px;
    top: 50px;
}
div#hotwater div#DomesticWaterTempActual {
    left: 20px;
    top: 70px;
}
div#hotwater div#DomesticWaterTempNominal {
    left: 20px;
    top: 90px;
}
div#hotwater div#DomesticWaterTempHyst {
    left: 20px;
    top: 110px;
}
div#hotwater div#LegionellaSchedule {
    left: 20px;
    top: 130px;
}
div#hotwater div#LegionellaTimeOn {
    left: 20px;
    top: 150px;
}
div#hotwater div#LegionellaTimeOff {
    left: 20px;
    top: 170px;
}
div#hotwater div#LegionellaTempNominal {
    left: 20px;
    top: 190px;
}
div#hotwater div#DWNumberOfCompressors {
    left: 20px;
    top: 210px;
}
div#hotwater div#DomesticWaterTimeDelayOnSolar {
    left: 20px;
    top: 230px;
}
