@CHARSET "UTF-8";

span {
    font-size: 12px;
}
.timepicker.hasDatepicker, .datepicker.hasDatepicker {
    font-size: 11px;
    position: relative;
    text-align: right;
    top: -5px;
    width: 60px;
}

div#datetimefield {
    float: right;
}
div#tabs {
    float: left;
}
div#overview {
    float: left;
    margin: 0 0 0 20;
    width: 130px;
    height: 400px;
}

.value {
    float: left;
    width: 60px;
    display: block;
    outline: 1px inset black;
    text-align: right;
}
span#description {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 15px;
}
span#description_short {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 15px;
}
div#diagram div span#description {
    width: 60px;
    height: 10px;
}
div#diagram div span#description_short {
    width: 60px;
    height: 10px;
}

#description {
    color: black;
}
#description_short {
    color: black;
}
.blacktext {
    color: black;
}
.redtext {
    color: red;
}
.bluetext {
    color: blue;
}
.targettext {
    color: white;
    background-color: rgb(246,81,0);
}

div#diagram  {
}

div#diagram-top {
    background: #ffffff url('/img/thome.gif') no-repeat 120px top;
}

div#diagram-top div {
	display: inline-block;
}

div#outdoor_temps {
	width: 130px;
	height: 63px;
	float: left;
	padding: 21px 0 0 0;
}
div#outdoortemp {
}
div#outdoortemp1h {
}
div#outdoortemp24h {
}

div#room_temps {
	width: 130px;
	height: 63px;
	margin: 0 0 0 144px;
	float: left;
    padding: 21px 0 0 0;
}
div#roomtempnominal {
}
div#roomtemp {
}
div#roomtemp1h {
}

div#general_data {
	width: 160px;
	height: 84px;
}
span#rtcdate.value {
    width: 90px;
}
div#rtcdate {
}
span#rtctime.value {
    width: 90px;
}
div#rtctime {
}
span#firmwareversion.value {
    width: 90px;
}
div#firmwareversion {
}
span#firmwaredate.value {
    width: 90px;
}
div#firmwaredate {
}

div#seperator_1 {
	margin: 25px 0 0 0;
}
div#diagram-bottom {
	background: #ffffff url('/img/ds_std.gif') no-repeat left top;
	width: 600px;
	height: 350px;
}

div#diagram-bottom div {
    display: inline-block;
    position: relative;
}
div#consumption_data {
    width: 160px;
    height: 63px;
}
div#pelectric {
}
div#pthermal {
}
div#cop {
}
#pelectric.blacktext span#description {
    width: 100px;
}
#pthermal.blacktext span#description {
    width: 100px;
}
#cop.blacktext span#description {
    width: 100px;
}

div#heat_data {
	left: 315px;
	top: 0px;
}
div#flowtemp {
    left: 0px;
    top: 0px;
}
div#heatreturntemp2 {
    top: 53px;
}

div#diagram-bot-line1 {
	top: 110px;
	left: -120px;
}
div#evaporationtemp {
    left: 0px;
    top: 0px;
}
div#condensationtemp {
    left: 0px;
    top: 0px;
    margin: 0 0 0 180px;
}

div#diagram-bot-line2 {
    top: 110px;
    left: 0px;
}
div#heatsourcein {
	top: 10px;
}
div#evaporationpress {
    margin: 0 0 0 45px;
}
div#sunctiongastemp {
    top: 10px;
    margin: 0 0 0 30px;
}
div#ohcompressor1 {
    margin: 0 0 0 10px;
}
div#condensationpress {
    margin: 0 0 0 10px;
}

div#diagram-bot-line3 {
	top: 215px;
	left: 70px;
}
div#heatsourceout {
}

div#diagram-bot-icons {
	left: 26px;
	top: 120px;
}
div#iconpumpheatsource {
    left: 0px;
    top: 0px;
}
div#iconmagnetvalve {
    margin: 0 0 0 113px;
    top: 31px;
}
div#iconcompressor1 {
    margin: 0 0 0 80px;
    top: -36px;
}
div#iconpumpheating {
    margin: 0 0 0 86px;
    top: 40px;
}


div#overview div {
    position: relative;
}
/* overview div with icons */
div#iconcooling {
    left: 0px;
    top: 0px;
}
div#coolreturntempnominal {
    left: 40px;
    top: -53px;
}
div#coolreturntemp {
    left: 40px;
    top: -53px;
}

div#iconheating {
    left: 0px;
    top: -40px;
}
div#heatreturntempnominal {
    left: 40px;
    top: -92px;
}
div#heatreturntemp {
    left: 40px;
    top: -92px;
}

div#icondomesticwater {
    left: 0px;
    top: -80px;
}
div#domesticwatertempnominal {
    left: 40px;
    top: -133px;
}
div#domesticwatertempactual {
    left: 40px;
    top: -133px;
}

div#iconpool {
    left: 0px;
    top: -120px;
}
div#pooltempnominal {
    left: 40px;
    top: -173px;
}
div#pooltempactual {
    left: 40px;
    top: -173px;
}

div#iconsolar {
    left: 0px;
    top: -160px;
}
div#solartempnominalmin {
    left: 40px;
    top: -213px;
}
div#solartempactual {
    left: 40px;
    top: -213px;
}

div#icon3way {
    left: 0px;
    top: -200px;
}
div#heatingcircuitnominal {
    left: 40px;
    top: -253px;
}
div#heatingcircuittemp {
    left: 40px;
    top: -253px;
}

input#datetimepicker.hasdatepicker {
    width: 110px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 50%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* Heating */
div#heating div span#description {
    width: 200px;
    height: 10px;
}

div#heating {
    position: static;
    float: left;
}

/* Cooling */
div#cooling div span#description {
    width: 200px;
    height: 10px;
}

div#cooling {
    position: static;
    float: left;
}

/* Hot water */
div#hotwater div span#description {
    width: 200px;
    height: 10px;
}

div#hotwater {
    position: static;
    float: left;
}

/** css for vertical tabs */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

.clear {
	clear: both;
}