@CHARSET "UTF-8";

span {
    font-size: 12px;
}

div#datetimefield {
    float: right;
}
div#tabs {
    float: left;
}
div#overview {
    float: left;
    margin: 0 0 0 20;
}

.value {
    float: left;
    width: 60px;
    display: block;
    outline: 1px inset black;
    text-align: right;
}
span#description {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 15px;
}
span#description_short {
    float: left;
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: rgb(228, 221, 221);
    padding-bottom: 15px;
}
div#diagram div span#description {
    width: 57px;
    height: 10px;
}
div#diagram div span#description_short {
    width: 57px;
    height: 10px;
}

div#diagram img#home.picture {
    position: relative;
    left: 150px;
    top: 0px;
}

div#diagram img#background.picture {
    position: relative;
    left: 0px;
    top: -330px;
}

#description {
    color: black;
}
#description_short {
    color: black;
}
.blacktext {
    color: black;
}
.redtext {
    color: red;
}
.bluetext {
    color: blue;
}
.targettext {
    color: white;
    background-color: rgb(246,81,0);
}

div#diagram  {
    left: -50px;
    position: relative;
}
div#diagram div {
    position: relative;
}
div#outdoortemp {
    left: 30px;
    top: -85px;
}
div#outdoortemp1h {
    left: 30px;
    top: -85px;
}
div#outdoortemp24h {
    left: 30px;
    top: -85px;
}
div#roomtempnominal {
    left: 310px;
    top: -150px;
}
div#roomtemp {
    left: 310px;
    top: -150px;
}
div#roomtemp1h {
    left: 310px;
    top: -150px;
}

span#rtcdate.value {
    width: 90px;
}
div#rtcdate {
    left: 480px;
    top: -215px;
}
span#rtctime.value {
    width: 90px;
}
div#rtctime {
    left: 480px;
    top: -215px;
}
span#firmwareversion.value {
    width: 90px;
}
div#firmwareversion {
    left: 480px;
    top: -215px;
}
span#firmwaredate.value {
    width: 90px;
}
div#firmwaredate {
    left: 480px;
    top: -215px;
}

div#pelectric {
    left: 30px;
    top: -200px;
}
div#pthermal {
    left: 30px;
    top: -220px;
}
div#cop {
    left: 30px;
    top: -240px;
}
#pelectric.blacktext span#description {
    width: 100px;
}
#pthermal.blacktext span#description {
    width: 100px;
}
#cop.blacktext span#description {
    width: 100px;
}

div#heatsourcein {
    left: 10px;
    top: -500px;
}
div#heatsourceout {
    left: 70px;
    top: -400px;
}

div#sunctiongastemp {
    left: 205px;
    top: -640px;
}
div#ohcompressor1 {
    left: 280px;
    top: -674px;
}

div#evaporationtemp {
    left: 105px;
    top: -826px;
}
div#evaporationpress {
    left: 105px;
    top: -826px;
}

div#condensationtemp {
    left: 355px;
    top: -630px;
}
div#condensationpress {
    left: 355px;
    top: -630px;
}

div#flowtemp {
    left: 475px;
    top: -1000px;
}
div#heatreturntemp2 {
    left: 475px;
    top: -945px;
}

div#iconpumpheatsource {
    left: 25px;
    top: -490px;
}

div#iconcompressor1 {
    left: 300px;
    top: -676px;
}

div#iconpumpheating {
    left: 415px;
    top: -796px;
}
div#iconmagnetvalve {
    left: 175px;
    top: -661px;
}

div#overview div {
    position: relative;
}
/* overview div with icons */
div#iconcooling {
    left: 0px;
    top: 0px;
}
div#coolreturntempnominal {
    left: 40px;
    top: -53px;
}
div#coolreturntemp {
    left: 40px;
    top: -53px;
}

div#iconheating {
    left: 0px;
    top: -40px;
}
div#heatreturntempnominal {
    left: 40px;
    top: -92px;
}
div#heatreturntemp {
    left: 40px;
    top: -92px;
}

div#icondomesticwater {
    left: 0px;
    top: -80px;
}
div#domesticwatertempnominal {
    left: 40px;
    top: -133px;
}
div#domesticwatertempactual {
    left: 40px;
    top: -133px;
}

div#iconpool {
    left: 0px;
    top: -120px;
}
div#pooltempnominal {
    left: 40px;
    top: -173px;
}
div#pooltempactual {
    left: 40px;
    top: -173px;
}

div#iconsolar {
    left: 0px;
    top: -160px;
}
div#solartempnominalmin {
    left: 40px;
    top: -213px;
}
div#solartempactual {
    left: 40px;
    top: -213px;
}

div#icon3way {
    left: 0px;
    top: -200px;
}
div#heatingcircuitnominal {
    left: 40px;
    top: -253px;
}
div#heatingcircuittemp {
    left: 40px;
    top: -253px;
}

input#datetimepicker.hasdatepicker {
    width: 110px;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 50%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* Heating */
div#heating div span#description {
    width: 200px;
    height: 10px;
}

div#heating {
    position: static;
    float: left;
}

/* Cooling */
div#cooling div span#description {
    width: 200px;
    height: 10px;
}

div#cooling {
    position: static;
    float: left;
}

/* Hot water */
div#hotwater div span#description {
    width: 200px;
    height: 10px;
}

div#hotwater {
    position: static;
    float: left;
}

/** css for vertical tabs */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

